<h1>Login</h1>

<form action="{% url 'securepolls:login' %}" method="post">
  <!-- {% csrf_token %} -->
  <p>Username</p>
  <input type="text" name="username" />

  <p>Password</p>
  <input type="password" name="password" />

  <button type="submit">Login</button>
</form>

<div>
  <p>
    Don't have an account?
    <a href="{% url 'securepolls:register' %}">Register</a>
  </p>
  <p>
    Forgot your password?
    <a href="{% url 'securepolls:reset_password' %}">Request Password Reset</a>
  </p>
</div>
