<!-- FILEPATH: /Users/henri/Repositories/csb/securepolls/templates/securepolls/reset_password.html -->
<h1>Reset password</h1>

{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}

<div>
  <h2>Oopsie woopsie! Sometimes you can not remember everything.</h2>
  <p>
    We got you covered. Enter your username below and we will reset you password
    to <strong><i>"password"</i></strong
    >.
  </p>
</div>

<br />

<form action="{% url 'securepolls:reset_password' %}" method="post">
  <!-- {% csrf_token %} -->
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" />
  </div>
  <button type="submit">Reset password</button>
</form>
